# This file contains common pin mappings for the BigTreeTech SKR 2.
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".
# !!!!! The "make flash" command does not work on the SKR 2. Instead,
# 1.running "make" command
# 2.copy the generated "out/klipper.bin" file to a file named "firmware.bin" on an SD card
# 3. restart the SKR 2 with that SD card.

############# CONNECT TO PRINTER WITH USB PORT ######################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_23003B001447393432343039-if00
#######################################################################
###################     STEPPER  SETUP    #############################
#######################################################################
#########[ STEP X ]#########
[stepper_x]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE3
microsteps: 16
rotation_distance: 39.970
#estep = 80.05807
endstop_pin: ^!PC1
position_endstop: -5
position_min: -5
position_max: 235
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PE0
run_current: 0.800
stealthchop_threshold: 999999


#########[ STEP Y ]#########

[stepper_y]
step_pin: PD5
dir_pin: PD4
enable_pin: !PD6
microsteps: 16
rotation_distance: 39.818
#estep = 80.36389
endstop_pin: ^!PC3
position_endstop: 0
position_max: 235
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PD3
run_current: 0.800
stealthchop_threshold: 999999


#########[ STEP Z ]#########

[stepper_z]
step_pin: PA15
dir_pin: PA8
enable_pin: !PD1
microsteps: 16
rotation_distance: 8.071
#estep = 402.8684
endstop_pin: probe:z_virtual_endstop
position_min:-5
position_max: 270

[tmc2209 stepper_z]
uart_pin: PD0
run_current: 0.800
stealthchop_threshold: 999999


#########[ STEP Extruder ]#########

[extruder]
step_pin: PD15
dir_pin: !PD14
enable_pin: !PC7
microsteps: 16
rotation_distance: 31.646666666666665
#ESTEP=101.11649462818623
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA2
control: pid
pid_kp: 25.691
pid_ki: 1.223
pid_kd: 134.878
min_temp: 0
max_temp: 260
min_extrude_temp: 190
max_extrude_only_distance: 100.0

[tmc2209 extruder]
uart_pin: PC6
run_current: 0.800
stealthchop_threshold: 999999


#######################################################################
###################    PROBE - BL TOUCH    ############################
#######################################################################
[bltouch]
sensor_pin: ^PE4
control_pin: PE5
x_offset: +26
y_offset: -41
#z_offset: 2.860
probe_with_touch_mode: True
stow_on_each_sample: False


[safe_z_home]
home_xy_position: 117.5, 117.5 # Change coordinates to the center of your print bed
speed: 50
z_hop: 15                 # Move up 10mm
z_hop_speed: 5

[bed_mesh]
speed: 120
horizontal_move_z: 10
mesh_min: 30, 5
mesh_max: 210, 175
probe_count: 9, 9
algorithm: bicubic
bicubic_tension: 0.2
########################################################################

[heater_bed]
heater_pin: PD7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA1
control: pid
pid_kp: 70.876
pid_ki: 1.150
pid_kd: 1092.377
min_temp: 0
max_temp: 130

[fan]
pin: PB7

#[heater_fan fan1]
#pin: PB6

#[heater_fan fan2]
#pin: PB5


# Due to BTT implementing a Marlin-specific safety feature,
# "anti-reversal stepper protection", this pin needs pulling
# high to pass power to stepper drivers and most FETs

[output_pin motor_power]
pin: PC13
value: 1


[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[endstop_phase]

########################################
# LEDS
########################################
 
[neopixel hotend_leds]
pin: PE6
chain_count: 2

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC5, EXP1_3=PB1, EXP1_5=PE10, EXP1_7=PE12, EXP1_9=<GND>,
    EXP1_2=PB0, EXP1_4=PE9, EXP1_6=PE11, EXP1_8=PE13, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE7, EXP2_5=PB2, EXP2_7=PC4,   EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

[display]
lcd_type: emulated_st7920
spi_software_miso_pin: EXP1_6
spi_software_mosi_pin: EXP1_3
spi_software_sclk_pin: EXP1_5
en_pin: EXP1_4
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2







# Mainsail klipper definitions
#
# Copyright (C) 2021 Alex Zellner <alexander.zellner@googlemail.com>
#
# This file may be distributed under the terms of the GNU GPLv3 license
#
# Version 1.11

# add [include mainsail.cfg] to your printer.cfg to include it to your printer.cfg
# modify x_park, y_park, z_park_delta and extrude value at the macro _TOOLHEAD_PARK_PAUSE_CANCEL if needed

# use variable_park: False at CANCEL_PRINT to disallow the parking move

[virtual_sdcard]
path: ~/gcode_files
on_error_gcode:
  CANCEL_PRINT

[pause_resume]

[display_status]

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
gcode:
  ## Move head and retract only if not already in the pause state and park set to true
  {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true'%}
    _TOOLHEAD_PARK_PAUSE_CANCEL
  {% endif %}
  TURN_OFF_HEATERS
  M106 S0
  CANCEL_PRINT_BASE

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
  PAUSE_BASE
  _TOOLHEAD_PARK_PAUSE_CANCEL

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read extrude from  _TOOLHEAD_PARK_PAUSE_CANCEL  macro #####
  {% set extrude = printer['gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL'].extrude %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  RESUME_BASE {get_params}

[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
description: Helper: park toolhead used in PAUSE and CANCEL_PRINT
variable_extrude: 1.0
gcode:
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  {% set z_park_delta = 2.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - z_park_delta) %}
    {% set z_safe = z_park_delta %}
  {% else %}
    {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E-{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
    {% if printer.gcode_move.absolute_coordinates|lower == 'false' %} G91 {% endif %}
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*#
#*# [extruder]
#*#
#*# [endstop_phase stepper_z]
#*# trigger_phase = 8/64
#*#
#*# [bltouch]
#*# z_offset = 2.633
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.239608, -0.237086, -0.141243, -0.108454, -0.022700, -0.055488, -0.110976, -0.176553, -0.262308
#*# 	  -0.247174, -0.247174, -0.166464, -0.156376, -0.037833, -0.083232, -0.133676, -0.194208, -0.262308
#*# 	  -0.247174, -0.239608, -0.133676, -0.103410, -0.037833, -0.073143, -0.143765, -0.179075, -0.274918
#*# 	  -0.232041, -0.237086, -0.156376, -0.118543, 0.007567, -0.010089, -0.085754, -0.168987, -0.277441
#*# 	  -0.216908, -0.239608, -0.141243, -0.118543, -0.047922, -0.037833, -0.093321, -0.136198, -0.279963
#*# 	  -0.189164, -0.232041, -0.136198, -0.100888, -0.015133, -0.007567, -0.065577, -0.118543, -0.264830
#*# 	  -0.206819, -0.186642, -0.133676, -0.098365, 0.010089, -0.027744, -0.093321, -0.171509, -0.277441
#*# 	  -0.194208, -0.163942, -0.075666, -0.075666, -0.010089, -0.012611, -0.090799, -0.146287, -0.259785
#*# 	  -0.161420, -0.174031, -0.080710, -0.090799, -0.000000, -0.015133, -0.083232, -0.141243, -0.242130
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = bicubic
#*# y_count = 9
#*# mesh_y_pps = 2
#*# min_y = 5.0
#*# x_count = 9
#*# max_y = 175.0
#*# mesh_x_pps = 2
#*# max_x = 210.0
